@font-face {
    font-family: "Daray";
    src: url(/DARAY.OTF);
}
@media (max-width: 1500px){

}
@media (max-width: 1200px){
    
}
@media (max-width: 992px){
    
}
@media (max-width: 768px){
    body{
        width: 768px;
        overflow-x: hidden;
    }

    header{
        visibility: hidden;
        width: 768px;
        overflow-x: hidden;
        position: absolute;
        height: 100px;
        
    }

    header .navbar{
        visibility: hidden;
    }

    header .navbar.local {
        margin-left: -73px;
        width: 91%;
        visibility: visible;
        background-color: white;
        position: absolute;
        margin-top: 22px;
        height: 4px;
    }

    
    .navbar a{
        color: black;
        position: relative;
        padding-left: 14px;
        font-size: 33px;
	}
    
    .nav{
        margin-top: -74px;
    }

    .call{
        display: none;
    }

    .social{
        display: none;
    }
    
    .logo img{
        visibility: visible;
        margin-left: 20px;
    }

    .burger .icon1 {
        visibility: visible;
        position: absolute;
        display: flex;
        margin-left: 330px;
    }

    .burger{
         position: absolute;
         margin-left: 40px;
    }

    .intro{
        height: 350px;
        width: 838px;
    }


    .intro h1{
        text-align: center;
    }

    .video{
        margin-top: -53px;
        position: relative;
    }

    .main-card{
        display: block;
        position: absolute;
        height: 1000px;
        width: 65%;
        margin-left: 30%;
        margin-right: 30%;
        padding-left: 90px;
        
    }

    .name{
        margin-top: 15px;
        margin-left: -20px;
        font-size: 28px;
     
    }

    .name1{
        margin-top: 15px;
        margin-left: -20px;
      
     
    }
    
    .name2{
        margin-top: 15px;
        margin-left: -35px;
        
       
    }
    
    .name3{
        margin-top: 15px;
        margin-left: -15px;
    }

    .aboutPosition{
        margin-left: -140px;
     
    }

    .image1{
        margin-top: 40px;
        height: 120px;
        width: 120px;
        margin-left: -15px;
    }

    .image2{
        margin-top: 40px;
        height: 120px;
        width: 120px;
        margin-left: 15px;
    }

    .image{
        margin-top: 40px;
        height: 120px;
        width: 120px;
        margin-left: 20px;
    }

    .new-products{
        margin-top: 1080px;
        height: 1400px;
        width: 838px;
    }

    .tabs_block{
        visibility: visible;
        margin-top: 180px;
        justify-content: center;
    }

    .tabs_nav{
        position: absolute;
        display: block;
        margin-left: 37%;
        margin-right: 30%;
        margin-top: -120px;
}

    .tabs-nav-btn{
        text-decoration: none;
        color: black;
        font-size: 15px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
    }
    .tabs_nav a{
        display: block;
        cursor: pointer;
    }
    
    .tabs_body{
        padding-top: 100px;
    }

    .tabs_block.active{
        display: block;
        margin-left: 28%;
        margin-right: 30%;
    }

    .tabs_block{
        display: none;
        margin-top: 180px;
        justify-content: center;
        position: absolute;
    }

    .card{
        display: flex;
        padding-top: 30px;
        margin-left: -20%;
        margin-right: 30%;
    }

    .card img{
        padding-left: 20px;
    }
    
    .delivery{
        margin-top: -120px;
        height: 500px;
    }

    .delivery h1{
        margin-left: 80px;
        font-size: 54px;
    }

    .block1 h2{
        font-size: 36px;
        font-weight: bold;
    }

.block1 p{
    font-size: 24px;
}

    .block1{
        padding-left: 90px;
        margin-top: -120px;
    }

    footer{
        background-color:#edf2f5;
        width: 838px;
        height: 600px;
        position: absolute;
        margin-top: 60px;
    }
    
    footer h1{
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 46px;
        font-family: "Daray";
    }
    
    .footer{
        margin-top: 50px;
        text-align: center;
        font-family:'Noto Sans JP', sans-serif ;
        font-weight: bold;
    }
}



@media (max-width: 480px){
    
        body{
            width: 768px;
            overflow-x: hidden;
        }
    
        header{
            width: 836px;
            overflow-x: hidden;
            position: fixed;
            height: 168px;
            opacity: 100%;
            background-color: white;   
            visibility: visible; 
            overflow-y: hidden;
        }

        header .navbar{
            visibility: hidden;
        }
    
        .logo img{
            width: 250px;
            height: 150px;
            margin-left: -10px;
        }

        .burger .icon1 {
            position: absolute;
            display: flex;
            margin-top: 50px;
            margin-left: 310px;
            font-size: 60px;
            font-weight: bold;
            color: red  ;
        }

        .burger .icon2 {
            position: absolute;
            display: flex;
            margin-top: 50px;
            font-size: 60px;
            font-weight: bold;
            margin-left: -362px;
            visibility: visible;
        }

        header .navbar.local{
            margin-left: -80px;
            width: 88%;
            visibility: visible;
            background-color: white;
            position: absolute;
            opacity: 100%;
        }

        .intro{
            height: 450px;
            width: 838px;
        }


        .video{
            margin-top: 23px;
            position: relative;
        }
        
        .intro_title{
            font-size: 164px;
            margin-left: 10%;
        }

        .main-card{
            display: block;
            position: absolute;
            width: 120%;
            margin-left: 65%;
        }
    
        .name{
            margin-top: 15px;
            margin-left: -40px;
            font-size: 68px;
            font-family: "DARAY";
            font-weight: bold;
        }

        .name1{
            margin-top: 15px;
            margin-left: -100px;
            font-size: 68px;
            font-family: "DARAY";
            font-weight: bold;
           
        }
        
        .name2{
            margin-top: 15px;
            margin-left: -135px;
            font-size: 68px;
            font-family: "DARAY";
            font-weight: bold;
            
        }
        
        .name3{
            margin-top: 15px;
            margin-left: -70px;
            font-size: 68px;
            font-family: "DARAY";
            font-weight: bold;
           
        }
    
        .aboutPosition{
            margin-left: -279px;
            font-size: 42px;
            font-family: "DARAY";
            font-weight: bold;
        }
    
        .image1{
            margin-top: 40px;
            height: 160px;
            width: 160px;
            margin-left: -25px;
        }
    
        .image2{
            margin-top: 40px;
            height: 160px;
            width: 160px;
            margin-left: 15px;
        }
    
        .image{
            margin-top: 40px;
            height: 160px;
            width: 160px;
            margin-left: 20px;
        }

        .new-products{
            margin-top: 1800px;
            height: 1400px;
            width: 837px;
        }

        .tabs_block{
            visibility: visible;
            margin-top: 170px;
            justify-content: center;
        }
    
        .tabs_nav{
            position: absolute;
            margin-left: 10%;
            margin-right: 20%;
            margin-top: -120px;
            display: flex;
    }
    
        .tabs-nav-btn{
            text-decoration: none;
            color: black;
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            padding-left: 80px;
        }
        .tabs_nav a{
            display: block;
            cursor: pointer;
            font-size: 53px;
            font-weight: bold;
        }
        
        .tabs_body{
            padding-top: 100px;
        }
    
        .tabs_block.active{
            display: block;
            margin-left: 65%;
            margin-right: 25%;
        }
    
        .tabs_block{
            display: none;
            justify-content: center;
            position: absolute;
            margin-top: 170px;
        }
    
        .card{
            display: flex;
            padding-top: 30px;
            margin-left: -23%;
            margin-right: 30%;
        }
    
        .card img{
            padding-left: 20px;
        }


    .delivery h1{
        font-size: 90px;
    }

    .block1{
        margin-top: -55px;
    }

    .block1 h2{
        font-size: 57px;
    }

    .block1 p{
        font-size: 40px;
    }

      footer{
        margin-top:400px;
    }

.footer h1{
    font-size: 90px;
}

    .footer{
        font-size: 33px;
    }

    .url img {
        margin-top: -10px;
        width: 51px;
    }

     }

